<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>

    <script defer src="https://unpkg.com/vue@next"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div id="app" class="app">
        <h1 class="title">{{title}}</h1>
        <input @keyup.enter="calc" type="text" v-model="result" placeholder="0" class="result" />
        <div class="grid">
            <button v-for="num in numbers" @click="input(num)" class="cell">{{num}}</button>
            <button v-for="op in operations" @click="input(op)" class="cell">{{op}}</button>
            <button @click="reset" class="cell">C</button>
            <button @click="calc" class="cell">=</button>
        </div>
    </div>
</body>
</html>